In [1]:
# encoding=utf8

# Fundamentals of Python

Python程序结构

+ 程序由模块构成

+ 模块包含语句

+ 语句包含表达式

+ 表达式建立并处理对象

## 变量

Python 中的变量不需要声明。每个变量在使用前都必须赋值，变量赋值以后该变量才会被创建。

在 Python 中，变量就是变量，它没有类型，我们所说的"类型"是变量所指的内存中对象的类型。

等号（=）用来给变量赋值。

等号（=）运算符左边是一个变量名,等号（=）运算符右边是存储在变量中的值。例如：

In [7]:
counter = 100          # 整型变量
miles   = 1000.0       # 浮点型变量
name    = "runoob"     # 字符串
 
print (counter)
print (miles)
print (name)

100
1000.0
runoob

In [8]:
type(None)

NoneType

In [2]:
# 数据类型


## 关键字

In [9]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

In [ ]:
# 查看python所有的modules：
help("modules")

Please wait a moment while I gather a list of all available modules...

/Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/IPython/kernel/__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated. You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)
/Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/blaze/server/server.py:17: ExtDeprecationWarning: Importing flask.ext.cors is deprecated, use flask_cors instead.
  from flask.ext.cors import cross_origin
/Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)
/Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")
/Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/matplotlib/cbook.py:136: MatplotlibDeprecationWarning: The matplotlib.delaunay module was deprecated in version 1.4. Use matplotlib.tri.Triangulation instead.
  warnings.warn(message, mplDeprecation, stacklevel=1)

nibabel required for fmri I/O. See http://nipy.org/nibabel

/Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "
/Users/bater.makhabel/anaconda3/lib/python3.6/pkgutil.py:92: FutureWarning: The pandas.rpy module is deprecated and will be removed in a future version. We refer to external packages like rpy2.
See here for a guide on how to port your code to rpy2: http://pandas.pydata.org/pandas-docs/stable/r_interface.html
  __import__(info.name)

/Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/skimage/filter/__init__.py:6: skimage_deprecation:

The `skimage.filter` module has been renamed to `skimage.filters`.  This placeholder module will be removed in v0.13.

/Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/skimage/viewer/utils/core.py:10: UserWarning:

Recommended matplotlib backend is `Agg` for full skimage.viewer functionality.

In [1]:
# 单看python所有的modules中包含指定字符串的modules： 
help("pandas")

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    See http://pandas.pydata.org/ for full documentation. Otherwise, see the
    docstrings of the various objects in the pandas namespace:

    Series
    DataFrame
    Panel
    Index
    DatetimeIndex
    HDFStore
    bdate_range
    date_range
    read_csv
    read_fwf
    read_table
    ols

PACKAGE CONTENTS
    _hash
    _join
    _period
    _sparse
    _testing
    _version
    _window
    algos
    api (package)
    compat (package)
    computation (package)
    core (package)
    formats (package)
    hashtable
    index
    indexes (package)
    info
    io (package)
    json
    lib
    msgpack (package)
    parser
    rpy (package)
    sparse (package)
    stats (package)
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from '/Users/bat...ython3....
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    options = <pandas.core.config.DictWrapper object>
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>

VERSION
    0.19.2

FILE
    /Users/bater.makhabel/anaconda3/lib/python3.6/site-packages/pandas/__init__.py

In [2]:
# 查看python中常见的topics： 
help("topics")

Here is a list of available topics.  Enter any topic name to get more help.

ASSERTION           DELETION            LOOPING             SHIFTING
ASSIGNMENT          DICTIONARIES        MAPPINGMETHODS      SLICINGS
ATTRIBUTEMETHODS    DICTIONARYLITERALS  MAPPINGS            SPECIALATTRIBUTES
ATTRIBUTES          DYNAMICFEATURES     METHODS             SPECIALIDENTIFIERS
AUGMENTEDASSIGNMENT ELLIPSIS            MODULES             SPECIALMETHODS
BASICMETHODS        EXCEPTIONS          NAMESPACES          STRINGMETHODS
BINARY              EXECUTION           NONE                STRINGS
BITWISE             EXPRESSIONS         NUMBERMETHODS       SUBSCRIPTS
BOOLEAN             FLOAT               NUMBERS             TRACEBACKS
CALLABLEMETHODS     FORMATTING          OBJECTS             TRUTHVALUE
CALLS               FRAMEOBJECTS        OPERATORS           TUPLELITERALS
CLASSES             FRAMES              PACKAGES            TUPLES
CODEOBJECTS         FUNCTIONS           POWER               TYPEOBJECTS
COMPARISON          IDENTIFIERS         PRECEDENCE          TYPES
COMPLEX             IMPORTING           PRIVATENAMES        UNARY
CONDITIONAL         INTEGER             RETURNING           UNICODE
CONTEXTMANAGERS     LISTLITERALS        SCOPING
CONVERSIONS         LISTS               SEQUENCEMETHODS
DEBUGGING           LITERALS            SEQUENCES

In [4]:
# 查看python标准库中的module：
import os.path 
help("os.path")

Help on module posixpath in os:

NAME
    posixpath - Common operations on Posix pathnames.

MODULE REFERENCE
    https://docs.python.org/3.6/library/posixpath

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Instead of importing this module directly, import os and refer to
    this module as os.path.  The "os.path" name is an alias for this
    module on Posix systems; on other systems (e.g. Mac, Windows),
    os.path provides the same operations in a manner specific to that
    platform, and is an alias to another module (e.g. macpath, ntpath).

    Some of this can actually be useful on non-Posix systems too, e.g.
    for manipulation of the pathname component of URLs.

FUNCTIONS
    abspath(path)
        Return an absolute path.

    basename(p)
        Returns the final component of a pathname

    commonpath(paths)
        Given a sequence of path names, returns the longest common sub-path.

    commonprefix(m)
        Given a list of pathnames, returns the longest common leading component

    dirname(p)
        Returns the directory component of a pathname

    exists(path)
        Test whether a path exists.  Returns False for broken symbolic links

    expanduser(path)
        Expand ~ and ~user constructions.  If user or $HOME is unknown,
        do nothing.

    expandvars(path)
        Expand shell variables of form $var and ${var}.  Unknown variables
        are left unchanged.

    getatime(filename)
        Return the last access time of a file, reported by os.stat().

    getctime(filename)
        Return the metadata change time of a file, reported by os.stat().

    getmtime(filename)
        Return the last modification time of a file, reported by os.stat().

    getsize(filename)
        Return the size of a file, reported by os.stat().

    isabs(s)
        Test whether a path is absolute

    isdir(s)
        Return true if the pathname refers to an existing directory.

    isfile(path)
        Test whether a path is a regular file

    islink(path)
        Test whether a path is a symbolic link

    ismount(path)
        Test whether a path is a mount point

    join(a, *p)
        Join two or more pathname components, inserting '/' as needed.
        If any component is an absolute path, all previous path components
        will be discarded.  An empty last part will result in a path that
        ends with a separator.

    lexists(path)
        Test whether a path exists.  Returns True for broken symbolic links

    normcase(s)
        Normalize case of pathname.  Has no effect under Posix

    normpath(path)
        Normalize path, eliminating double slashes, etc.

    realpath(filename)
        Return the canonical path of the specified filename, eliminating any
        symbolic links encountered in the path.

    relpath(path, start=None)
        Return a relative version of a path

    samefile(f1, f2)
        Test whether two pathnames reference the same actual file

    sameopenfile(fp1, fp2)
        Test whether two open file objects reference the same file

    samestat(s1, s2)
        Test whether two stat buffers reference the same file

    split(p)
        Split a pathname.  Returns tuple "(head, tail)" where "tail" is
        everything after the final slash.  Either part may be empty.

    splitdrive(p)
        Split a pathname into drive and path. On Posix, drive is always
        empty.

    splitext(p)
        Split the extension from a pathname.

        Extension is everything from the last dot to the end, ignoring
        leading dots.  Returns "(root, ext)"; ext may be empty.

DATA
    __all__ = ['normcase', 'isabs', 'join', 'splitdrive', 'split', 'splite...
    altsep = None
    curdir = '.'
    defpath = ':/bin:/usr/bin'
    devnull = '/dev/null'
    extsep = '.'
    pardir = '..'
    pathsep = ':'
    sep = '/'
    supports_unicode_filenames = True

FILE
    /Users/bater.makhabel/anaconda3/lib/python3.6/posixpath.py

In [5]:
# 查看python内置的类型：
help("list")

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [6]:
# 查看python类型的成员方法：
help("str.find")

Help on method_descriptor in str:

str.find = find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [7]:
# 查看python内置函数：
help("open")

Help on built-in function open in module io:

open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
    Open file and return a stream.  Raise IOError upon failure.

    file is either a text or byte string giving the name (and the path
    if the file isn't in the current working directory) of the file to
    be opened or an integer file descriptor of the file to be
    wrapped. (If a file descriptor is given, it is closed when the
    returned I/O object is closed, unless closefd is set to False.)

    mode is an optional string that specifies the mode in which the file
    is opened. It defaults to 'r' which means open for reading in text
    mode.  Other common values are 'w' for writing (truncating the file if
    it already exists), 'x' for creating and writing to a new file, and
    'a' for appending (which on some Unix systems, means that all writes
    append to the end of the file regardless of the current seek position).
    In text mode, if encoding is not specified the encoding used is platform
    dependent: locale.getpreferredencoding(False) is called to get the
    current locale encoding. (For reading and writing raw bytes use binary
    mode and leave encoding unspecified.) The available modes are:

    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    'U'       universal newline mode (deprecated)
    ========= ===============================================================

    The default mode is 'rt' (open for reading text). For binary random
    access, the mode 'w+b' opens and truncates the file to 0 bytes, while
    'r+b' opens the file without truncation. The 'x' mode implies 'w' and
    raises an `FileExistsError` if the file already exists.

    Python distinguishes between files opened in binary and text modes,
    even when the underlying operating system doesn't. Files opened in
    binary mode (appending 'b' to the mode argument) return contents as
    bytes objects without any decoding. In text mode (the default, or when
    't' is appended to the mode argument), the contents of the file are
    returned as strings, the bytes having been first decoded using a
    platform-dependent encoding or using the specified encoding if given.

    'U' mode is deprecated and will raise an exception in future versions
    of Python.  It has no effect in Python 3.  Use newline to control
    universal newlines mode.

    buffering is an optional integer used to set the buffering policy.
    Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
    line buffering (only usable in text mode), and an integer > 1 to indicate
    the size of a fixed-size chunk buffer.  When no buffering argument is
    given, the default buffering policy works as follows:

    * Binary files are buffered in fixed-size chunks; the size of the buffer
      is chosen using a heuristic trying to determine the underlying device's
      "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
      On many systems, the buffer will typically be 4096 or 8192 bytes long.

    * "Interactive" text files (files for which isatty() returns True)
      use line buffering.  Other text files use the policy described above
      for binary files.

    encoding is the name of the encoding used to decode or encode the
    file. This should only be used in text mode. The default encoding is
    platform dependent, but any encoding supported by Python can be
    passed.  See the codecs module for the list of supported encodings.

    errors is an optional string that specifies how encoding errors are to
    be handled---this argument should not be used in binary mode. Pass
    'strict' to raise a ValueError exception if there is an encoding error
    (the default of None has the same effect), or pass 'ignore' to ignore
    errors. (Note that ignoring encoding errors can lead to data loss.)
    See the documentation for codecs.register or run 'help(codecs.Codec)'
    for a list of the permitted encoding error strings.

    newline controls how universal newlines works (it only applies to text
    mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
    follows:

    * On input, if newline is None, universal newlines mode is
      enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
      these are translated into '\n' before being returned to the
      caller. If it is '', universal newline mode is enabled, but line
      endings are returned to the caller untranslated. If it has any of
      the other legal values, input lines are only terminated by the given
      string, and the line ending is returned to the caller untranslated.

    * On output, if newline is None, any '\n' characters written are
      translated to the system default line separator, os.linesep. If
      newline is '' or '\n', no translation takes place. If newline is any
      of the other legal values, any '\n' characters written are translated
      to the given string.

    If closefd is False, the underlying file descriptor will be kept open
    when the file is closed. This does not work when a file name is given
    and must be True in that case.

    A custom opener can be used by passing a callable as *opener*. The
    underlying file descriptor for the file object is then obtained by
    calling *opener* with (*file*, *flags*). *opener* must return an open
    file descriptor (passing os.open as *opener* results in functionality
    similar to passing None).

    open() returns a file object whose type depends on the mode, and
    through which the standard file operations such as reading and writing
    are performed. When open() is used to open a file in a text mode ('w',
    'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
    a file in a binary mode, the returned class varies: in read binary
    mode, it returns a BufferedReader; in write binary and append binary
    modes, it returns a BufferedWriter, and in read/write mode, it returns
    a BufferedRandom.

    It is also possible to use a string or bytearray as a file for both
    reading and writing. For strings StringIO can be used like a file
    opened in a text mode, and for bytes a BytesIO can be used like a file
    opened in a binary mode.

## 注释

In [8]:
# 这是一个单行注释
print("Python中单行注释以 # 开头")

Python中单行注释以 # 开头

In [9]:
'''
这是多行注释，用三个单引号
这是多行注释，用三个单引号 
这是多行注释，用三个单引号
'''
print("多行注释用三个单引号 \'\'\' 或者三个双引号 \"\"\" 将注释括起来!")

多行注释用三个单引号 ''' 或者三个双引号 """ 将注释括起来!

In [10]:
"""
这是多行注释，用三个双引号
这是多行注释，用三个双引号 
这是多行注释，用三个双引号
"""
print("多行注释用三个单引号 \'\'\' 或者三个双引号 \"\"\" 将注释括起来!")

多行注释用三个单引号 ''' 或者三个双引号 """ 将注释括起来!

## 运算符

### 算术运算符

In [12]:
a = 21
b = 10
c = 0
 
c = a + b
print ("1 - c 的值为：", c)
 
c = a - b
print ("2 - c 的值为：", c)
 
c = a * b
print ("3 - c 的值为：", c)
 
c = a / b
print ("4 - c 的值为：", c)
 
c = a % b
print ("5 - c 的值为：", c)
 
# 修改变量 a 、b 、c
a = 2
b = 3
c = a**b 
print ("6 - c 的值为：", c)
 
a = 10
b = 5
c = a//b 
print ("7 - c 的值为：", c)

1 - c 的值为： 31
2 - c 的值为： 11
3 - c 的值为： 210
4 - c 的值为： 2.1
5 - c 的值为： 1
6 - c 的值为： 8
7 - c 的值为： 2

In [13]:
### 比较运算符

In [14]:
a = 21
b = 10
c = 0
 
if ( a == b ):
   print ("1 - a 等于 b")
else:
   print ("1 - a 不等于 b")
 
if ( a != b ):
   print ("2 - a 不等于 b")
else:
   print ("2 - a 等于 b")
 
if ( a < b ):
   print ("3 - a 小于 b")
else:
   print ("3 - a 大于等于 b")
 
if ( a > b ):
   print ("4 - a 大于 b")
else:
   print ("4 - a 小于等于 b")
 
# 修改变量 a 和 b 的值
a = 5;
b = 20;
if ( a <= b ):
   print ("5 - a 小于等于 b")
else:
   print ("5 - a 大于  b")
 
if ( b >= a ):
   print ("6 - b 大于等于 a")
else:
   print ("6 - b 小于 a")

1 - a 不等于 b
2 - a 不等于 b
3 - a 大于等于 b
4 - a 大于 b
5 - a 小于等于 b
6 - b 大于等于 a

### 赋值运算符

In [15]:
a = 21
b = 10
c = 0
 
c = a + b
print ("1 - c 的值为：", c)
 
c += a
print ("2 - c 的值为：", c)
 
c *= a
print ("3 - c 的值为：", c)
 
c /= a 
print ("4 - c 的值为：", c)
 
c = 2
c %= a
print ("5 - c 的值为：", c)
 
c **= a
print ("6 - c 的值为：", c)
 
c //= a
print ("7 - c 的值为：", c)

1 - c 的值为： 31
2 - c 的值为： 52
3 - c 的值为： 1092
4 - c 的值为： 52.0
5 - c 的值为： 2
6 - c 的值为： 2097152
7 - c 的值为： 99864

### 位运算符

In [21]:

a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0
 
c = a & b;        # 12 = 0000 1100
print ("1 - c 的值为：", c)
 
c = a | b;        # 61 = 0011 1101 
print ("2 - c 的值为：", c)
 
c = a ^ b;        # 49 = 0011 0001
print ("3 - c 的值为：", c)
 
c = ~a;           # -61 = 1100 0011
print ("4 - c 的值为：", c)
 
c = a << 2;       # 240 = 1111 0000
print ("5 - c 的值为：", c)
 
c = a >> 2;       # 15 = 0000 1111
print ("6 - c 的值为：", c)

1 - c 的值为： 12
2 - c 的值为： 61
3 - c 的值为： 49
4 - c 的值为： -61
5 - c 的值为： 240
6 - c 的值为： 15

### 逻辑运算符

In [22]:
a = 10
b = 20
 
if ( a and b ):
   print ("1 - 变量 a 和 b 都为 true")
else:
   print ("1 - 变量 a 和 b 有一个不为 true")
 
if ( a or b ):
   print ("2 - 变量 a 和 b 都为 true，或其中一个变量为 true")
else:
   print ("2 - 变量 a 和 b 都不为 true")
 
# 修改变量 a 的值
a = 0
if ( a and b ):
   print ("3 - 变量 a 和 b 都为 true")
else:
   print ("3 - 变量 a 和 b 有一个不为 true")
 
if ( a or b ):
   print ("4 - 变量 a 和 b 都为 true，或其中一个变量为 true")
else:
   print ("4 - 变量 a 和 b 都不为 true")
 
if not( a and b ):
   print ("5 - 变量 a 和 b 都为 false，或其中一个变量为 false")
else:
   print ("5 - 变量 a 和 b 都为 true")

1 - 变量 a 和 b 都为 true
2 - 变量 a 和 b 都为 true，或其中一个变量为 true
3 - 变量 a 和 b 有一个不为 true
4 - 变量 a 和 b 都为 true，或其中一个变量为 true
5 - 变量 a 和 b 都为 false，或其中一个变量为 false

### 成员运算符

In [24]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ];
 
if ( a in list ):
   print ("1 - 变量 a 在给定的列表中 list 中")
else:
   print ("1 - 变量 a 不在给定的列表中 list 中")
 
if ( b not in list ):
   print ("2 - 变量 b 不在给定的列表中 list 中")
else:
   print ("2 - 变量 b 在给定的列表中 list 中")
 
# 修改变量 a 的值
a = 2
if ( a in list ):
   print ("3 - 变量 a 在给定的列表中 list 中")
else:
   print ("3 - 变量 a 不在给定的列表中 list 中")

1 - 变量 a 不在给定的列表中 list 中
2 - 变量 b 不在给定的列表中 list 中
3 - 变量 a 在给定的列表中 list 中

### 身份运算符

In [25]:
a = 20
b = 20
 
if ( a is b ):
   print ("1 - a 和 b 有相同的标识")
else:
   print ("1 - a 和 b 没有相同的标识")
 
if ( id(a) == id(b) ):
   print ("2 - a 和 b 有相同的标识")
else:
   print ("2 - a 和 b 没有相同的标识")
 
# 修改变量 b 的值
b = 30
if ( a is b ):
   print ("3 - a 和 b 有相同的标识")
else:
   print ("3 - a 和 b 没有相同的标识")
 
if ( a is not b ):
   print ("4 - a 和 b 没有相同的标识")
else:
   print ("4 - a 和 b 有相同的标识")

1 - a 和 b 有相同的标识
2 - a 和 b 有相同的标识
3 - a 和 b 没有相同的标识
4 - a 和 b 没有相同的标识

In [26]:
# is 用于判断两个变量引用对象是否为同一个， == 用于判断引用变量的值是否相等

In [27]:
a = [1, 2, 3]
b = a
b is a 
b == a
b = a[:]
b is a
b == a

True

### 运算符优先级

In [28]:
a = 20
b = 10
c = 15
d = 5
e = 0
 
e = (a + b) * c / d       #( 30 * 15 ) / 5
print ("(a + b) * c / d 运算结果为：",  e)
 
e = ((a + b) * c) / d     # (30 * 15 ) / 5
print ("((a + b) * c) / d 运算结果为：",  e)
 
e = (a + b) * (c / d);    # (30) * (15/5)
print ("(a + b) * (c / d) 运算结果为：",  e)
 
e = a + (b * c) / d;      #  20 + (150/5)
print ("a + (b * c) / d 运算结果为：",  e)

(a + b) * c / d 运算结果为： 90.0
((a + b) * c) / d 运算结果为： 90.0
(a + b) * (c / d) 运算结果为： 90.0
a + (b * c) / d 运算结果为： 50.0

### 表达式

### 语句

#### 赋值语句

In [1]:
a,b,c = 'good','bad','ugly'

In [2]:
a,b,c

('good', 'bad', 'ugly')

#### 调用语句

In [4]:
# all
# 一个可迭代对象的所有元素都为真，则返回True

all([1,2,3])

True

In [5]:
all([0,1,2])

False

In [6]:
# any
# 一个可迭代对象中只要有一个元素为真，则返回True

any([1,0,0])

True

In [7]:
any([0])

False

In [8]:
# bin
# 将一个十进制数字转化成一个二进制数字的字符串

bin(2)

'0b10'

In [9]:
# hex
# 将一个十进制数字转化成一个十六进制数字的字符串

hex(2)

'0x2'

In [10]:
# oct
# 将一个十进制数字转化成一个八进制数字的字符串

oct(8)

'0o10'

In [12]:
# callable
# 判断一个对象是否是可以被调用的，那么什么样才是可被调用的呢，即类似于“test()”这样的写法。函数与类皆可以被调用

b = 2
def callable_func():
    pass

print(callable(b),callable(callable_func))

False True

In [13]:
# exec
# 将一串代码字符串，以代码的形式执行

code = '''
n = 0
while n < 10:
    print(n)
    n+=1
'''
exec(code)

0
1
2
3
4
5
6
7
8
9

In [14]:
# eval
# 将一串基本数据类型的字符串，转化成基本数据类型

s_list = "[1,2,3,4]"
l = eval(s_list)    
print(l[0])

1

In [15]:
# dir
# 查看某个类型下的所有方法

l = [1,2,3]
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [16]:
# divmod
# 获取两个数相除后的商和余数

print(divmod(5,2))

(2, 1)

In [17]:
# max
# 获取某个可迭代对象的最大值

print(max([4,3,2,8]))

8

In [18]:
# min
# 获取某个可迭代对象的最小值

print(min([4,3,2,8]))

2

In [19]:
# sum
# 获取某个可迭代对象的和

sum([4,3,2,8])

17

In [20]:
# pow
# 获取a的b次方

pow(3,3)

27

In [21]:
# type
# 查看数据类型

type("abc")

str

In [22]:
# round
# 保留小数。注意：它的保留方式是向下保留，并不是四舍五入

round(1.345,2)

1.34

In [23]:
# filter
# 将一个可迭代对象按某种特定方式过滤，生成一个新的可迭代对象

f = filter(lambda x : x > 5,range(10))
for index in f:
    print(index)

6
7
8
9

In [24]:
# map
# 将一个可迭代对象按某种特定方式处理，生成一个新的可迭代对象。效果与列表生成式一样

m = map(lambda x : x * 2,range(10))
for index in m:
    print(index)

# 列表生成式写法
l = [x * 2 for x in range(10)]
for index in l:
    print(index)

0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18

In [25]:
# frozenset
# 将一个可迭代对象转化成一个不可变的，如将列表原来可以调用append方法，转化以后将不可调用append方法

In [26]:
# sorted
# 排序

# 列表的排序
l = [3,2,4,8]
print(sorted(l))    # 结果：[2,3,4,8]

# 字典的排序。众所周知，字典是无序的，首先先将字典转化成一个元组列表，在根据key或者value排序
d = {"b":2,"d":1,"a":4}
l = sorted(d.items())   # 根据key排序
print(l)    # 结果：[('a', 4), ('b', 2), ('d', 1)]

l = sorted(d.items(),key=lambda x:x[1])   # 根据value排序
print(l)    # 结果：[('d', 1), ('b', 2), ('a', 4)]

[2, 3, 4, 8]
[('a', 4), ('b', 2), ('d', 1)]
[('d', 1), ('b', 2), ('a', 4)]

In [27]:
# zip
# 将两个或多个列表拼接成一个元组列表

list_1 = [1,2,3,4]
list_2 = ['a','b','c','d']
z = zip(list_1,list_2)
for index in z:
    print(index)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [28]:
# __import__
# 相当于import,只不过import()中传入的模块的字符串名称

#### 打印调用

In [32]:
novolist = "Bater.Makhabel"
print(novolist, 'is Myteries Novolist.')

Bater.Makhabel is Myteries Novolist.

#### 选择语句if/elif/else

In [34]:
text = ['Python','is','a','script', 'language']

if 'Python' in text:
    print (text)

['Python', 'is', 'a', 'script', 'language']

#### 循环语句for/else

In [38]:
mylist = [1,2,3,4]
for x in mylist:
    print (x)

1
2
3
4

#### 循环语句while/else

In [3]:
import math
x = math.pi
y = math.e
print(x,y)
while x < y:
    print ('hello')

3.141592653589793 2.718281828459045

#### 空占位符pass语句

In [4]:
x = False
while x:
    pass

#### break语句

In [1]:


while True:
    if True:break

#### continue语句

In [ ]:
x = 3 
while True:
    if x>0:x-=1;continue

#### def语句

In [ ]:
def f(a, b, c=1,*d):
    print (a+b+c+d[0])

#### return语句

In [ ]:
def f(a, b, c=1,*d):
    return a+b+c+d[0]

#### yield语句

In [ ]:
def gen(n):
    for i in n:
        yield i*2

#### global语句

In [ ]:
x = 'old'
def function():
    global x,y; x = 'new'

#### nonlocal语句

In [ ]:
def outer():
    x = 'old'
    def function():
        nonlocal x; 
        x = 'new'

#### import语句

In [ ]:
import sys

#### from语句

In [1]:
from math import e

print(e)

2.718281828459045

#### class语句

In [3]:
class Superclass:
    ;
class Subclass (Superclass):
      staticData = []
      def method(self):pass

#### try/except/finally语句

In [4]:
def action():
    print("hello world!")
    
try:
    action()
except:
    print('action error')

hello world!

#### raise语句

在Python中，要想引发异常，基本形式就是输入关键字raise，后跟要引发的异常的名称。

异常名称标识出具体的类： 

+ Python异常处理是那些类的对象。
+ 执行raise语句时，Python会创建指定的异常类的一个对象。
+ raise语句还可指定对异常对象进行初始化的参数。异常类的名称后添加一个逗号以及指定的参数（或者由参数构成的一个元组）。

In [13]:

raise Exception()

Exception:

#### assert语句

In [16]:
import math
x = math.pi
y = math.e

assert x>y, 'e is less than pi!'

#### with/as语句

In [18]:
!pwd

/Users/bater.makhabel/WorkSpace/MyStartups/AITrainingSchool/GitBase/Python/Fundamentals

In [19]:
with open('../../DataSets/pybk018master/auto-mpg.data.txt', 'r', encoding='utf-8') as f:
    print(f.read())
print(f.closed)

18.0   8   307.0      130.0      3504.      12.0   70  1	"chevrolet chevelle malibu"
15.0   8   350.0      165.0      3693.      11.5   70  1	"buick skylark 320"
18.0   8   318.0      150.0      3436.      11.0   70  1	"plymouth satellite"
16.0   8   304.0      150.0      3433.      12.0   70  1	"amc rebel sst"
17.0   8   302.0      140.0      3449.      10.5   70  1	"ford torino"
15.0   8   429.0      198.0      4341.      10.0   70  1	"ford galaxie 500"
14.0   8   454.0      220.0      4354.       9.0   70  1	"chevrolet impala"
14.0   8   440.0      215.0      4312.       8.5   70  1	"plymouth fury iii"
14.0   8   455.0      225.0      4425.      10.0   70  1	"pontiac catalina"
15.0   8   390.0      190.0      3850.       8.5   70  1	"amc ambassador dpl"
15.0   8   383.0      170.0      3563.      10.0   70  1	"dodge challenger se"
14.0   8   340.0      160.0      3609.       8.0   70  1	"plymouth 'cuda 340"
15.0   8   400.0      150.0      3761.       9.5   70  1	"chevrolet monte carlo"
14.0   8   455.0      225.0      3086.      10.0   70  1	"buick estate wagon (sw)"
24.0   4   113.0      95.00      2372.      15.0   70  3	"toyota corona mark ii"
22.0   6   198.0      95.00      2833.      15.5   70  1	"plymouth duster"
18.0   6   199.0      97.00      2774.      15.5   70  1	"amc hornet"
21.0   6   200.0      85.00      2587.      16.0   70  1	"ford maverick"
27.0   4   97.00      88.00      2130.      14.5   70  3	"datsun pl510"
26.0   4   97.00      46.00      1835.      20.5   70  2	"volkswagen 1131 deluxe sedan"
25.0   4   110.0      87.00      2672.      17.5   70  2	"peugeot 504"
24.0   4   107.0      90.00      2430.      14.5   70  2	"audi 100 ls"
25.0   4   104.0      95.00      2375.      17.5   70  2	"saab 99e"
26.0   4   121.0      113.0      2234.      12.5   70  2	"bmw 2002"
21.0   6   199.0      90.00      2648.      15.0   70  1	"amc gremlin"
10.0   8   360.0      215.0      4615.      14.0   70  1	"ford f250"
10.0   8   307.0      200.0      4376.      15.0   70  1	"chevy c20"
11.0   8   318.0      210.0      4382.      13.5   70  1	"dodge d200"
9.0    8   304.0      193.0      4732.      18.5   70  1	"hi 1200d"
27.0   4   97.00      88.00      2130.      14.5   71  3	"datsun pl510"
28.0   4   140.0      90.00      2264.      15.5   71  1	"chevrolet vega 2300"
25.0   4   113.0      95.00      2228.      14.0   71  3	"toyota corona"
25.0   4   98.00      ?          2046.      19.0   71  1	"ford pinto"
19.0   6   232.0      100.0      2634.      13.0   71  1	"amc gremlin"
16.0   6   225.0      105.0      3439.      15.5   71  1	"plymouth satellite custom"
17.0   6   250.0      100.0      3329.      15.5   71  1	"chevrolet chevelle malibu"
19.0   6   250.0      88.00      3302.      15.5   71  1	"ford torino 500"
18.0   6   232.0      100.0      3288.      15.5   71  1	"amc matador"
14.0   8   350.0      165.0      4209.      12.0   71  1	"chevrolet impala"
14.0   8   400.0      175.0      4464.      11.5   71  1	"pontiac catalina brougham"
14.0   8   351.0      153.0      4154.      13.5   71  1	"ford galaxie 500"
14.0   8   318.0      150.0      4096.      13.0   71  1	"plymouth fury iii"
12.0   8   383.0      180.0      4955.      11.5   71  1	"dodge monaco (sw)"
13.0   8   400.0      170.0      4746.      12.0   71  1	"ford country squire (sw)"
13.0   8   400.0      175.0      5140.      12.0   71  1	"pontiac safari (sw)"
18.0   6   258.0      110.0      2962.      13.5   71  1	"amc hornet sportabout (sw)"
22.0   4   140.0      72.00      2408.      19.0   71  1	"chevrolet vega (sw)"
19.0   6   250.0      100.0      3282.      15.0   71  1	"pontiac firebird"
18.0   6   250.0      88.00      3139.      14.5   71  1	"ford mustang"
23.0   4   122.0      86.00      2220.      14.0   71  1	"mercury capri 2000"
28.0   4   116.0      90.00      2123.      14.0   71  2	"opel 1900"
30.0   4   79.00      70.00      2074.      19.5   71  2	"peugeot 304"
30.0   4   88.00      76.00      2065.      14.5   71  2	"fiat 124b"
31.0   4   71.00      65.00      1773.      19.0   71  3	"toyota corolla 1200"
35.0   4   72.00      69.00      1613.      18.0   71  3	"datsun 1200"
27.0   4   97.00      60.00      1834.      19.0   71  2	"volkswagen model 111"
26.0   4   91.00      70.00      1955.      20.5   71  1	"plymouth cricket"
24.0   4   113.0      95.00      2278.      15.5   72  3	"toyota corona hardtop"
25.0   4   97.50      80.00      2126.      17.0   72  1	"dodge colt hardtop"
23.0   4   97.00      54.00      2254.      23.5   72  2	"volkswagen type 3"
20.0   4   140.0      90.00      2408.      19.5   72  1	"chevrolet vega"
21.0   4   122.0      86.00      2226.      16.5   72  1	"ford pinto runabout"
13.0   8   350.0      165.0      4274.      12.0   72  1	"chevrolet impala"
14.0   8   400.0      175.0      4385.      12.0   72  1	"pontiac catalina"
15.0   8   318.0      150.0      4135.      13.5   72  1	"plymouth fury iii"
14.0   8   351.0      153.0      4129.      13.0   72  1	"ford galaxie 500"
17.0   8   304.0      150.0      3672.      11.5   72  1	"amc ambassador sst"
11.0   8   429.0      208.0      4633.      11.0   72  1	"mercury marquis"
13.0   8   350.0      155.0      4502.      13.5   72  1	"buick lesabre custom"
12.0   8   350.0      160.0      4456.      13.5   72  1	"oldsmobile delta 88 royale"
13.0   8   400.0      190.0      4422.      12.5   72  1	"chrysler newport royal"
19.0   3   70.00      97.00      2330.      13.5   72  3	"mazda rx2 coupe"
15.0   8   304.0      150.0      3892.      12.5   72  1	"amc matador (sw)"
13.0   8   307.0      130.0      4098.      14.0   72  1	"chevrolet chevelle concours (sw)"
13.0   8   302.0      140.0      4294.      16.0   72  1	"ford gran torino (sw)"
14.0   8   318.0      150.0      4077.      14.0   72  1	"plymouth satellite custom (sw)"
18.0   4   121.0      112.0      2933.      14.5   72  2	"volvo 145e (sw)"
22.0   4   121.0      76.00      2511.      18.0   72  2	"volkswagen 411 (sw)"
21.0   4   120.0      87.00      2979.      19.5   72  2	"peugeot 504 (sw)"
26.0   4   96.00      69.00      2189.      18.0   72  2	"renault 12 (sw)"
22.0   4   122.0      86.00      2395.      16.0   72  1	"ford pinto (sw)"
28.0   4   97.00      92.00      2288.      17.0   72  3	"datsun 510 (sw)"
23.0   4   120.0      97.00      2506.      14.5   72  3	"toyouta corona mark ii (sw)"
28.0   4   98.00      80.00      2164.      15.0   72  1	"dodge colt (sw)"
27.0   4   97.00      88.00      2100.      16.5   72  3	"toyota corolla 1600 (sw)"
13.0   8   350.0      175.0      4100.      13.0   73  1	"buick century 350"
14.0   8   304.0      150.0      3672.      11.5   73  1	"amc matador"
13.0   8   350.0      145.0      3988.      13.0   73  1	"chevrolet malibu"
14.0   8   302.0      137.0      4042.      14.5   73  1	"ford gran torino"
15.0   8   318.0      150.0      3777.      12.5   73  1	"dodge coronet custom"
12.0   8   429.0      198.0      4952.      11.5   73  1	"mercury marquis brougham"
13.0   8   400.0      150.0      4464.      12.0   73  1	"chevrolet caprice classic"
13.0   8   351.0      158.0      4363.      13.0   73  1	"ford ltd"
14.0   8   318.0      150.0      4237.      14.5   73  1	"plymouth fury gran sedan"
13.0   8   440.0      215.0      4735.      11.0   73  1	"chrysler new yorker brougham"
12.0   8   455.0      225.0      4951.      11.0   73  1	"buick electra 225 custom"
13.0   8   360.0      175.0      3821.      11.0   73  1	"amc ambassador brougham"
18.0   6   225.0      105.0      3121.      16.5   73  1	"plymouth valiant"
16.0   6   250.0      100.0      3278.      18.0   73  1	"chevrolet nova custom"
18.0   6   232.0      100.0      2945.      16.0   73  1	"amc hornet"
18.0   6   250.0      88.00      3021.      16.5   73  1	"ford maverick"
23.0   6   198.0      95.00      2904.      16.0   73  1	"plymouth duster"
26.0   4   97.00      46.00      1950.      21.0   73  2	"volkswagen super beetle"
11.0   8   400.0      150.0      4997.      14.0   73  1	"chevrolet impala"
12.0   8   400.0      167.0      4906.      12.5   73  1	"ford country"
13.0   8   360.0      170.0      4654.      13.0   73  1	"plymouth custom suburb"
12.0   8   350.0      180.0      4499.      12.5   73  1	"oldsmobile vista cruiser"
18.0   6   232.0      100.0      2789.      15.0   73  1	"amc gremlin"
20.0   4   97.00      88.00      2279.      19.0   73  3	"toyota carina"
21.0   4   140.0      72.00      2401.      19.5   73  1	"chevrolet vega"
22.0   4   108.0      94.00      2379.      16.5   73  3	"datsun 610"
18.0   3   70.00      90.00      2124.      13.5   73  3	"maxda rx3"
19.0   4   122.0      85.00      2310.      18.5   73  1	"ford pinto"
21.0   6   155.0      107.0      2472.      14.0   73  1	"mercury capri v6"
26.0   4   98.00      90.00      2265.      15.5   73  2	"fiat 124 sport coupe"
15.0   8   350.0      145.0      4082.      13.0   73  1	"chevrolet monte carlo s"
16.0   8   400.0      230.0      4278.      9.50   73  1	"pontiac grand prix"
29.0   4   68.00      49.00      1867.      19.5   73  2	"fiat 128"
24.0   4   116.0      75.00      2158.      15.5   73  2	"opel manta"
20.0   4   114.0      91.00      2582.      14.0   73  2	"audi 100ls"
19.0   4   121.0      112.0      2868.      15.5   73  2	"volvo 144ea"
15.0   8   318.0      150.0      3399.      11.0   73  1	"dodge dart custom"
24.0   4   121.0      110.0      2660.      14.0   73  2	"saab 99le"
20.0   6   156.0      122.0      2807.      13.5   73  3	"toyota mark ii"
11.0   8   350.0      180.0      3664.      11.0   73  1	"oldsmobile omega"
20.0   6   198.0      95.00      3102.      16.5   74  1	"plymouth duster"
21.0   6   200.0      ?          2875.      17.0   74  1	"ford maverick"
19.0   6   232.0      100.0      2901.      16.0   74  1	"amc hornet"
15.0   6   250.0      100.0      3336.      17.0   74  1	"chevrolet nova"
31.0   4   79.00      67.00      1950.      19.0   74  3	"datsun b210"
26.0   4   122.0      80.00      2451.      16.5   74  1	"ford pinto"
32.0   4   71.00      65.00      1836.      21.0   74  3	"toyota corolla 1200"
25.0   4   140.0      75.00      2542.      17.0   74  1	"chevrolet vega"
16.0   6   250.0      100.0      3781.      17.0   74  1	"chevrolet chevelle malibu classic"
16.0   6   258.0      110.0      3632.      18.0   74  1	"amc matador"
18.0   6   225.0      105.0      3613.      16.5   74  1	"plymouth satellite sebring"
16.0   8   302.0      140.0      4141.      14.0   74  1	"ford gran torino"
13.0   8   350.0      150.0      4699.      14.5   74  1	"buick century luxus (sw)"
14.0   8   318.0      150.0      4457.      13.5   74  1	"dodge coronet custom (sw)"
14.0   8   302.0      140.0      4638.      16.0   74  1	"ford gran torino (sw)"
14.0   8   304.0      150.0      4257.      15.5   74  1	"amc matador (sw)"
29.0   4   98.00      83.00      2219.      16.5   74  2	"audi fox"
26.0   4   79.00      67.00      1963.      15.5   74  2	"volkswagen dasher"
26.0   4   97.00      78.00      2300.      14.5   74  2	"opel manta"
31.0   4   76.00      52.00      1649.      16.5   74  3	"toyota corona"
32.0   4   83.00      61.00      2003.      19.0   74  3	"datsun 710"
28.0   4   90.00      75.00      2125.      14.5   74  1	"dodge colt"
24.0   4   90.00      75.00      2108.      15.5   74  2	"fiat 128"
26.0   4   116.0      75.00      2246.      14.0   74  2	"fiat 124 tc"
24.0   4   120.0      97.00      2489.      15.0   74  3	"honda civic"
26.0   4   108.0      93.00      2391.      15.5   74  3	"subaru"
31.0   4   79.00      67.00      2000.      16.0   74  2	"fiat x1.9"
19.0   6   225.0      95.00      3264.      16.0   75  1	"plymouth valiant custom"
18.0   6   250.0      105.0      3459.      16.0   75  1	"chevrolet nova"
15.0   6   250.0      72.00      3432.      21.0   75  1	"mercury monarch"
15.0   6   250.0      72.00      3158.      19.5   75  1	"ford maverick"
16.0   8   400.0      170.0      4668.      11.5   75  1	"pontiac catalina"
15.0   8   350.0      145.0      4440.      14.0   75  1	"chevrolet bel air"
16.0   8   318.0      150.0      4498.      14.5   75  1	"plymouth grand fury"
14.0   8   351.0      148.0      4657.      13.5   75  1	"ford ltd"
17.0   6   231.0      110.0      3907.      21.0   75  1	"buick century"
16.0   6   250.0      105.0      3897.      18.5   75  1	"chevroelt chevelle malibu"
15.0   6   258.0      110.0      3730.      19.0   75  1	"amc matador"
18.0   6   225.0      95.00      3785.      19.0   75  1	"plymouth fury"
21.0   6   231.0      110.0      3039.      15.0   75  1	"buick skyhawk"
20.0   8   262.0      110.0      3221.      13.5   75  1	"chevrolet monza 2+2"
13.0   8   302.0      129.0      3169.      12.0   75  1	"ford mustang ii"
29.0   4   97.00      75.00      2171.      16.0   75  3	"toyota corolla"
23.0   4   140.0      83.00      2639.      17.0   75  1	"ford pinto"
20.0   6   232.0      100.0      2914.      16.0   75  1	"amc gremlin"
23.0   4   140.0      78.00      2592.      18.5   75  1	"pontiac astro"
24.0   4   134.0      96.00      2702.      13.5   75  3	"toyota corona"
25.0   4   90.00      71.00      2223.      16.5   75  2	"volkswagen dasher"
24.0   4   119.0      97.00      2545.      17.0   75  3	"datsun 710"
18.0   6   171.0      97.00      2984.      14.5   75  1	"ford pinto"
29.0   4   90.00      70.00      1937.      14.0   75  2	"volkswagen rabbit"
19.0   6   232.0      90.00      3211.      17.0   75  1	"amc pacer"
23.0   4   115.0      95.00      2694.      15.0   75  2	"audi 100ls"
23.0   4   120.0      88.00      2957.      17.0   75  2	"peugeot 504"
22.0   4   121.0      98.00      2945.      14.5   75  2	"volvo 244dl"
25.0   4   121.0      115.0      2671.      13.5   75  2	"saab 99le"
33.0   4   91.00      53.00      1795.      17.5   75  3	"honda civic cvcc"
28.0   4   107.0      86.00      2464.      15.5   76  2	"fiat 131"
25.0   4   116.0      81.00      2220.      16.9   76  2	"opel 1900"
25.0   4   140.0      92.00      2572.      14.9   76  1	"capri ii"
26.0   4   98.00      79.00      2255.      17.7   76  1	"dodge colt"
27.0   4   101.0      83.00      2202.      15.3   76  2	"renault 12tl"
17.5   8   305.0      140.0      4215.      13.0   76  1	"chevrolet chevelle malibu classic"
16.0   8   318.0      150.0      4190.      13.0   76  1	"dodge coronet brougham"
15.5   8   304.0      120.0      3962.      13.9   76  1	"amc matador"
14.5   8   351.0      152.0      4215.      12.8   76  1	"ford gran torino"
22.0   6   225.0      100.0      3233.      15.4   76  1	"plymouth valiant"
22.0   6   250.0      105.0      3353.      14.5   76  1	"chevrolet nova"
24.0   6   200.0      81.00      3012.      17.6   76  1	"ford maverick"
22.5   6   232.0      90.00      3085.      17.6   76  1	"amc hornet"
29.0   4   85.00      52.00      2035.      22.2   76  1	"chevrolet chevette"
24.5   4   98.00      60.00      2164.      22.1   76  1	"chevrolet woody"
29.0   4   90.00      70.00      1937.      14.2   76  2	"vw rabbit"
33.0   4   91.00      53.00      1795.      17.4   76  3	"honda civic"
20.0   6   225.0      100.0      3651.      17.7   76  1	"dodge aspen se"
18.0   6   250.0      78.00      3574.      21.0   76  1	"ford granada ghia"
18.5   6   250.0      110.0      3645.      16.2   76  1	"pontiac ventura sj"
17.5   6   258.0      95.00      3193.      17.8   76  1	"amc pacer d/l"
29.5   4   97.00      71.00      1825.      12.2   76  2	"volkswagen rabbit"
32.0   4   85.00      70.00      1990.      17.0   76  3	"datsun b-210"
28.0   4   97.00      75.00      2155.      16.4   76  3	"toyota corolla"
26.5   4   140.0      72.00      2565.      13.6   76  1	"ford pinto"
20.0   4   130.0      102.0      3150.      15.7   76  2	"volvo 245"
13.0   8   318.0      150.0      3940.      13.2   76  1	"plymouth volare premier v8"
19.0   4   120.0      88.00      3270.      21.9   76  2	"peugeot 504"
19.0   6   156.0      108.0      2930.      15.5   76  3	"toyota mark ii"
16.5   6   168.0      120.0      3820.      16.7   76  2	"mercedes-benz 280s"
16.5   8   350.0      180.0      4380.      12.1   76  1	"cadillac seville"
13.0   8   350.0      145.0      4055.      12.0   76  1	"chevy c10"
13.0   8   302.0      130.0      3870.      15.0   76  1	"ford f108"
13.0   8   318.0      150.0      3755.      14.0   76  1	"dodge d100"
31.5   4   98.00      68.00      2045.      18.5   77  3	"honda accord cvcc"
30.0   4   111.0      80.00      2155.      14.8   77  1	"buick opel isuzu deluxe"
36.0   4   79.00      58.00      1825.      18.6   77  2	"renault 5 gtl"
25.5   4   122.0      96.00      2300.      15.5   77  1	"plymouth arrow gs"
33.5   4   85.00      70.00      1945.      16.8   77  3	"datsun f-10 hatchback"
17.5   8   305.0      145.0      3880.      12.5   77  1	"chevrolet caprice classic"
17.0   8   260.0      110.0      4060.      19.0   77  1	"oldsmobile cutlass supreme"
15.5   8   318.0      145.0      4140.      13.7   77  1	"dodge monaco brougham"
15.0   8   302.0      130.0      4295.      14.9   77  1	"mercury cougar brougham"
17.5   6   250.0      110.0      3520.      16.4   77  1	"chevrolet concours"
20.5   6   231.0      105.0      3425.      16.9   77  1	"buick skylark"
19.0   6   225.0      100.0      3630.      17.7   77  1	"plymouth volare custom"
18.5   6   250.0      98.00      3525.      19.0   77  1	"ford granada"
16.0   8   400.0      180.0      4220.      11.1   77  1	"pontiac grand prix lj"
15.5   8   350.0      170.0      4165.      11.4   77  1	"chevrolet monte carlo landau"
15.5   8   400.0      190.0      4325.      12.2   77  1	"chrysler cordoba"
16.0   8   351.0      149.0      4335.      14.5   77  1	"ford thunderbird"
29.0   4   97.00      78.00      1940.      14.5   77  2	"volkswagen rabbit custom"
24.5   4   151.0      88.00      2740.      16.0   77  1	"pontiac sunbird coupe"
26.0   4   97.00      75.00      2265.      18.2   77  3	"toyota corolla liftback"
25.5   4   140.0      89.00      2755.      15.8   77  1	"ford mustang ii 2+2"
30.5   4   98.00      63.00      2051.      17.0   77  1	"chevrolet chevette"
33.5   4   98.00      83.00      2075.      15.9   77  1	"dodge colt m/m"
30.0   4   97.00      67.00      1985.      16.4   77  3	"subaru dl"
30.5   4   97.00      78.00      2190.      14.1   77  2	"volkswagen dasher"
22.0   6   146.0      97.00      2815.      14.5   77  3	"datsun 810"
21.5   4   121.0      110.0      2600.      12.8   77  2	"bmw 320i"
21.5   3   80.00      110.0      2720.      13.5   77  3	"mazda rx-4"
43.1   4   90.00      48.00      1985.      21.5   78  2	"volkswagen rabbit custom diesel"
36.1   4   98.00      66.00      1800.      14.4   78  1	"ford fiesta"
32.8   4   78.00      52.00      1985.      19.4   78  3	"mazda glc deluxe"
39.4   4   85.00      70.00      2070.      18.6   78  3	"datsun b210 gx"
36.1   4   91.00      60.00      1800.      16.4   78  3	"honda civic cvcc"
19.9   8   260.0      110.0      3365.      15.5   78  1	"oldsmobile cutlass salon brougham"
19.4   8   318.0      140.0      3735.      13.2   78  1	"dodge diplomat"
20.2   8   302.0      139.0      3570.      12.8   78  1	"mercury monarch ghia"
19.2   6   231.0      105.0      3535.      19.2   78  1	"pontiac phoenix lj"
20.5   6   200.0      95.00      3155.      18.2   78  1	"chevrolet malibu"
20.2   6   200.0      85.00      2965.      15.8   78  1	"ford fairmont (auto)"
25.1   4   140.0      88.00      2720.      15.4   78  1	"ford fairmont (man)"
20.5   6   225.0      100.0      3430.      17.2   78  1	"plymouth volare"
19.4   6   232.0      90.00      3210.      17.2   78  1	"amc concord"
20.6   6   231.0      105.0      3380.      15.8   78  1	"buick century special"
20.8   6   200.0      85.00      3070.      16.7   78  1	"mercury zephyr"
18.6   6   225.0      110.0      3620.      18.7   78  1	"dodge aspen"
18.1   6   258.0      120.0      3410.      15.1   78  1	"amc concord d/l"
19.2   8   305.0      145.0      3425.      13.2   78  1	"chevrolet monte carlo landau"

#### del语句

In [ ]:

+ 使用 del 语句可以从一个列表中依索引而不是值来删除一个元素。
+ 可以用 del 语句从列表中删除一个切割,或清空整个列表。

In [ ]:
del data[k]
del data[i:j]
del obj.attr
del variable

In [32]:
a=[-1,2,66.25,333,333,2343.6]
print(a)

[-1, 2, 66.25, 333, 333, 2343.6]

In [33]:
del a[0]
print(a)

[2, 66.25, 333, 333, 2343.6]

In [34]:
del a[2:4]
print(a)

[2, 66.25, 2343.6]

In [35]:
del a[:]

In [36]:
print(a)

[]

In [37]:
del a

In [39]:
print(a)

NameError: name 'a' is not defined

### 异常与断言


+ Exceptions
+ Handling Exceptions
+ Raising Exceptions
+ User-defined Exceptions
+ Defining Clean-up Actions
+ Predefined Clean-up Actions

#### Exceptions

In [47]:

# The class hierarchy for built-in exceptions

"""
BaseException
 +-- SystemExit
 +-- KeyboardInterrupt
 +-- GeneratorExit
 +-- Exception
      +-- StopIteration
      +-- StopAsyncIteration
      +-- ArithmeticError
      |    +-- FloatingPointError
      |    +-- OverflowError
      |    +-- ZeroDivisionError
      +-- AssertionError
      +-- AttributeError
      +-- BufferError
      +-- EOFError
      +-- ImportError
      |    +-- ModuleNotFoundError
      +-- LookupError
      |    +-- IndexError
      |    +-- KeyError
      +-- MemoryError
      +-- NameError
      |    +-- UnboundLocalError
      +-- OSError
      |    +-- BlockingIOError
      |    +-- ChildProcessError
      |    +-- ConnectionError
      |    |    +-- BrokenPipeError
      |    |    +-- ConnectionAbortedError
      |    |    +-- ConnectionRefusedError
      |    |    +-- ConnectionResetError
      |    +-- FileExistsError
      |    +-- FileNotFoundError
      |    +-- InterruptedError
      |    +-- IsADirectoryError
      |    +-- NotADirectoryError
      |    +-- PermissionError
      |    +-- ProcessLookupError
      |    +-- TimeoutError
      +-- ReferenceError
      +-- RuntimeError
      |    +-- NotImplementedError
      |    +-- RecursionError
      +-- SyntaxError
      |    +-- IndentationError
      |         +-- TabError
      +-- SystemError
      +-- TypeError
      +-- ValueError
      |    +-- UnicodeError
      |         +-- UnicodeDecodeError
      |         +-- UnicodeEncodeError
      |         +-- UnicodeTranslateError
      +-- Warning
           +-- DeprecationWarning
           +-- PendingDeprecationWarning
           +-- RuntimeWarning
           +-- SyntaxWarning
           +-- UserWarning
           +-- FutureWarning
           +-- ImportWarning
           +-- UnicodeWarning
           +-- BytesWarning
           +-- ResourceWarning
"""

'\nBaseException\n +-- SystemExit\n +-- KeyboardInterrupt\n +-- GeneratorExit\n +-- Exception\n      +-- StopIteration\n      +-- StopAsyncIteration\n      +-- ArithmeticError\n      |    +-- FloatingPointError\n      |    +-- OverflowError\n      |    +-- ZeroDivisionError\n      +-- AssertionError\n      +-- AttributeError\n      +-- BufferError\n      +-- EOFError\n      +-- ImportError\n      |    +-- ModuleNotFoundError\n      +-- LookupError\n      |    +-- IndexError\n      |    +-- KeyError\n      +-- MemoryError\n      +-- NameError\n      |    +-- UnboundLocalError\n      +-- OSError\n      |    +-- BlockingIOError\n      |    +-- ChildProcessError\n      |    +-- ConnectionError\n      |    |    +-- BrokenPipeError\n      |    |    +-- ConnectionAbortedError\n      |    |    +-- ConnectionRefusedError\n      |    |    +-- ConnectionResetError\n      |    +-- FileExistsError\n      |    +-- FileNotFoundError\n      |    +-- InterruptedError\n      |    +-- IsADirectoryError\n      |    +-- NotADirectoryError\n      |    +-- PermissionError\n      |    +-- ProcessLookupError\n      |    +-- TimeoutError\n      +-- ReferenceError\n      +-- RuntimeError\n      |    +-- NotImplementedError\n      |    +-- RecursionError\n      +-- SyntaxError\n      |    +-- IndentationError\n      |         +-- TabError\n      +-- SystemError\n      +-- TypeError\n      +-- ValueError\n      |    +-- UnicodeError\n      |         +-- UnicodeDecodeError\n      |         +-- UnicodeEncodeError\n      |         +-- UnicodeTranslateError\n      +-- Warning\n           +-- DeprecationWarning\n           +-- PendingDeprecationWarning\n           +-- RuntimeWarning\n           +-- SyntaxWarning\n           +-- UserWarning\n           +-- FutureWarning\n           +-- ImportWarning\n           +-- UnicodeWarning\n           +-- BytesWarning\n           +-- ResourceWarning\n'

#### Handling Exceptions

In [48]:
# Handling Exceptions异常处理

import sys

try:
    f = open('myfile.txt')
    s = f.readline()
    i = int(s.strip())
except OSError as err:
    print("OS error: {0}".format(err))
except ValueError:
    print("Could not convert data to an integer.")
except:
    print("Unexpected error:", sys.exc_info()[0])
    raise

OS error: [Errno 2] No such file or directory: 'myfile.txt'

In [50]:
# try … except 语句可以带有一个 else子句，该子句只能出现在所有 except 子句之后。
# 当 try 语句没有抛出异常时，需要执行一些代码，可以使用这个子句。

for arg in sys.argv[1:]:
    try:
        f = open(arg, 'r')
    except IOError:
        print('cannot open', arg)
    else:
        print(arg, 'has', len(f.readlines()), 'lines')
        f.close()

cannot open -f
/Users/bater.makhabel/Library/Jupyter/runtime/kernel-d6ada473-b77d-448f-93f5-152c8566e6a4.json has 12 lines

#### Raising Exceptions

In [51]:
# Raising Exceptions抛出异常

raise Exception('HiThere')

Exception: HiThere

#### User-defined Exceptions

In [56]:
# User-defined Exceptions用户自定义异常

# Predefined Clean-up Actions预定义清理行为

class Error(Exception):
    """Base class for exceptions in this module."""
    pass

class InputError(Error):
    """Exception raised for errors in the input.

    Attributes:
        expression -- input expression in which the error occurred
        message -- explanation of the error
    """

    def __init__(self, expression, message):
        self.expression = expression
        self.message = message

class TransitionError(Error):
    """Raised when an operation attempts a state transition that's not
    allowed.

    Attributes:
        previous -- state at beginning of transition
        next -- attempted new state
        message -- explanation of why the specific transition is not allowed
    """

    def __init__(self, previous, next, message):
        self.previous = previous
        self.next = next
        self.message = message

In [58]:
class MyError(Error):
    def __init__(self, value):
        self.value = value
    def __str__(self):
        return repr(self.value)

In [59]:
try:
    raise MyError(2*2)
except MyError as e:
    print('My exception occurred, value:', e.value)

My exception occurred, value: 4

In [60]:
raise MyError('oops!')

MyError: 'oops!'

#### Defining Clean-up Actions

In [61]:
# Defining Clean-up Actions定义清理行为

def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("division by zero!")
    else:
        print("result is", result)
    finally:
        print("executing finally clause")

In [62]:
divide(2, 1)

result is 2.0
executing finally clause

In [63]:
divide(2, 0)

division by zero!
executing finally clause

In [64]:
divide("2", "1")

executing finally clause

TypeError: unsupported operand type(s) for /: 'str' and 'str'

#### Predefined Clean-up Actions

In [65]:
with open('../../DataSets/pybk018master/auto-mpg.data.txt', 'r', encoding='utf-8') as f:
    for line in f:
        print(line)

18.0   8   307.0      130.0      3504.      12.0   70  1	"chevrolet chevelle malibu"

15.0   8   350.0      165.0      3693.      11.5   70  1	"buick skylark 320"

18.0   8   318.0      150.0      3436.      11.0   70  1	"plymouth satellite"

16.0   8   304.0      150.0      3433.      12.0   70  1	"amc rebel sst"

17.0   8   302.0      140.0      3449.      10.5   70  1	"ford torino"

15.0   8   429.0      198.0      4341.      10.0   70  1	"ford galaxie 500"

14.0   8   454.0      220.0      4354.       9.0   70  1	"chevrolet impala"

14.0   8   440.0      215.0      4312.       8.5   70  1	"plymouth fury iii"

14.0   8   455.0      225.0      4425.      10.0   70  1	"pontiac catalina"

15.0   8   390.0      190.0      3850.       8.5   70  1	"amc ambassador dpl"

15.0   8   383.0      170.0      3563.      10.0   70  1	"dodge challenger se"

14.0   8   340.0      160.0      3609.       8.0   70  1	"plymouth 'cuda 340"

15.0   8   400.0      150.0      3761.       9.5   70  1	"chevrolet monte carlo"

14.0   8   455.0      225.0      3086.      10.0   70  1	"buick estate wagon (sw)"

24.0   4   113.0      95.00      2372.      15.0   70  3	"toyota corona mark ii"

22.0   6   198.0      95.00      2833.      15.5   70  1	"plymouth duster"

18.0   6   199.0      97.00      2774.      15.5   70  1	"amc hornet"

21.0   6   200.0      85.00      2587.      16.0   70  1	"ford maverick"

27.0   4   97.00      88.00      2130.      14.5   70  3	"datsun pl510"

26.0   4   97.00      46.00      1835.      20.5   70  2	"volkswagen 1131 deluxe sedan"

25.0   4   110.0      87.00      2672.      17.5   70  2	"peugeot 504"

24.0   4   107.0      90.00      2430.      14.5   70  2	"audi 100 ls"

25.0   4   104.0      95.00      2375.      17.5   70  2	"saab 99e"

26.0   4   121.0      113.0      2234.      12.5   70  2	"bmw 2002"

21.0   6   199.0      90.00      2648.      15.0   70  1	"amc gremlin"

10.0   8   360.0      215.0      4615.      14.0   70  1	"ford f250"

10.0   8   307.0      200.0      4376.      15.0   70  1	"chevy c20"

11.0   8   318.0      210.0      4382.      13.5   70  1	"dodge d200"

9.0    8   304.0      193.0      4732.      18.5   70  1	"hi 1200d"

27.0   4   97.00      88.00      2130.      14.5   71  3	"datsun pl510"

28.0   4   140.0      90.00      2264.      15.5   71  1	"chevrolet vega 2300"

25.0   4   113.0      95.00      2228.      14.0   71  3	"toyota corona"

25.0   4   98.00      ?          2046.      19.0   71  1	"ford pinto"

19.0   6   232.0      100.0      2634.      13.0   71  1	"amc gremlin"

16.0   6   225.0      105.0      3439.      15.5   71  1	"plymouth satellite custom"

17.0   6   250.0      100.0      3329.      15.5   71  1	"chevrolet chevelle malibu"

19.0   6   250.0      88.00      3302.      15.5   71  1	"ford torino 500"

18.0   6   232.0      100.0      3288.      15.5   71  1	"amc matador"

14.0   8   350.0      165.0      4209.      12.0   71  1	"chevrolet impala"

14.0   8   400.0      175.0      4464.      11.5   71  1	"pontiac catalina brougham"

14.0   8   351.0      153.0      4154.      13.5   71  1	"ford galaxie 500"

14.0   8   318.0      150.0      4096.      13.0   71  1	"plymouth fury iii"

12.0   8   383.0      180.0      4955.      11.5   71  1	"dodge monaco (sw)"

13.0   8   400.0      170.0      4746.      12.0   71  1	"ford country squire (sw)"

13.0   8   400.0      175.0      5140.      12.0   71  1	"pontiac safari (sw)"

18.0   6   258.0      110.0      2962.      13.5   71  1	"amc hornet sportabout (sw)"

22.0   4   140.0      72.00      2408.      19.0   71  1	"chevrolet vega (sw)"

19.0   6   250.0      100.0      3282.      15.0   71  1	"pontiac firebird"

18.0   6   250.0      88.00      3139.      14.5   71  1	"ford mustang"

23.0   4   122.0      86.00      2220.      14.0   71  1	"mercury capri 2000"

28.0   4   116.0      90.00      2123.      14.0   71  2	"opel 1900"

30.0   4   79.00      70.00      2074.      19.5   71  2	"peugeot 304"

30.0   4   88.00      76.00      2065.      14.5   71  2	"fiat 124b"

31.0   4   71.00      65.00      1773.      19.0   71  3	"toyota corolla 1200"

35.0   4   72.00      69.00      1613.      18.0   71  3	"datsun 1200"

27.0   4   97.00      60.00      1834.      19.0   71  2	"volkswagen model 111"

26.0   4   91.00      70.00      1955.      20.5   71  1	"plymouth cricket"

24.0   4   113.0      95.00      2278.      15.5   72  3	"toyota corona hardtop"

25.0   4   97.50      80.00      2126.      17.0   72  1	"dodge colt hardtop"

23.0   4   97.00      54.00      2254.      23.5   72  2	"volkswagen type 3"

20.0   4   140.0      90.00      2408.      19.5   72  1	"chevrolet vega"

21.0   4   122.0      86.00      2226.      16.5   72  1	"ford pinto runabout"

13.0   8   350.0      165.0      4274.      12.0   72  1	"chevrolet impala"

14.0   8   400.0      175.0      4385.      12.0   72  1	"pontiac catalina"

15.0   8   318.0      150.0      4135.      13.5   72  1	"plymouth fury iii"

14.0   8   351.0      153.0      4129.      13.0   72  1	"ford galaxie 500"

17.0   8   304.0      150.0      3672.      11.5   72  1	"amc ambassador sst"

11.0   8   429.0      208.0      4633.      11.0   72  1	"mercury marquis"

13.0   8   350.0      155.0      4502.      13.5   72  1	"buick lesabre custom"

12.0   8   350.0      160.0      4456.      13.5   72  1	"oldsmobile delta 88 royale"

13.0   8   400.0      190.0      4422.      12.5   72  1	"chrysler newport royal"

19.0   3   70.00      97.00      2330.      13.5   72  3	"mazda rx2 coupe"

15.0   8   304.0      150.0      3892.      12.5   72  1	"amc matador (sw)"

13.0   8   307.0      130.0      4098.      14.0   72  1	"chevrolet chevelle concours (sw)"

13.0   8   302.0      140.0      4294.      16.0   72  1	"ford gran torino (sw)"

14.0   8   318.0      150.0      4077.      14.0   72  1	"plymouth satellite custom (sw)"

18.0   4   121.0      112.0      2933.      14.5   72  2	"volvo 145e (sw)"

22.0   4   121.0      76.00      2511.      18.0   72  2	"volkswagen 411 (sw)"

21.0   4   120.0      87.00      2979.      19.5   72  2	"peugeot 504 (sw)"

26.0   4   96.00      69.00      2189.      18.0   72  2	"renault 12 (sw)"

22.0   4   122.0      86.00      2395.      16.0   72  1	"ford pinto (sw)"

28.0   4   97.00      92.00      2288.      17.0   72  3	"datsun 510 (sw)"

23.0   4   120.0      97.00      2506.      14.5   72  3	"toyouta corona mark ii (sw)"

28.0   4   98.00      80.00      2164.      15.0   72  1	"dodge colt (sw)"

27.0   4   97.00      88.00      2100.      16.5   72  3	"toyota corolla 1600 (sw)"

13.0   8   350.0      175.0      4100.      13.0   73  1	"buick century 350"

14.0   8   304.0      150.0      3672.      11.5   73  1	"amc matador"

13.0   8   350.0      145.0      3988.      13.0   73  1	"chevrolet malibu"

14.0   8   302.0      137.0      4042.      14.5   73  1	"ford gran torino"

15.0   8   318.0      150.0      3777.      12.5   73  1	"dodge coronet custom"

12.0   8   429.0      198.0      4952.      11.5   73  1	"mercury marquis brougham"

13.0   8   400.0      150.0      4464.      12.0   73  1	"chevrolet caprice classic"

13.0   8   351.0      158.0      4363.      13.0   73  1	"ford ltd"

14.0   8   318.0      150.0      4237.      14.5   73  1	"plymouth fury gran sedan"

13.0   8   440.0      215.0      4735.      11.0   73  1	"chrysler new yorker brougham"

12.0   8   455.0      225.0      4951.      11.0   73  1	"buick electra 225 custom"

13.0   8   360.0      175.0      3821.      11.0   73  1	"amc ambassador brougham"

18.0   6   225.0      105.0      3121.      16.5   73  1	"plymouth valiant"

16.0   6   250.0      100.0      3278.      18.0   73  1	"chevrolet nova custom"

18.0   6   232.0      100.0      2945.      16.0   73  1	"amc hornet"

18.0   6   250.0      88.00      3021.      16.5   73  1	"ford maverick"

23.0   6   198.0      95.00      2904.      16.0   73  1	"plymouth duster"

26.0   4   97.00      46.00      1950.      21.0   73  2	"volkswagen super beetle"

11.0   8   400.0      150.0      4997.      14.0   73  1	"chevrolet impala"

12.0   8   400.0      167.0      4906.      12.5   73  1	"ford country"

13.0   8   360.0      170.0      4654.      13.0   73  1	"plymouth custom suburb"

12.0   8   350.0      180.0      4499.      12.5   73  1	"oldsmobile vista cruiser"

18.0   6   232.0      100.0      2789.      15.0   73  1	"amc gremlin"

20.0   4   97.00      88.00      2279.      19.0   73  3	"toyota carina"

21.0   4   140.0      72.00      2401.      19.5   73  1	"chevrolet vega"

22.0   4   108.0      94.00      2379.      16.5   73  3	"datsun 610"

18.0   3   70.00      90.00      2124.      13.5   73  3	"maxda rx3"

19.0   4   122.0      85.00      2310.      18.5   73  1	"ford pinto"

21.0   6   155.0      107.0      2472.      14.0   73  1	"mercury capri v6"

26.0   4   98.00      90.00      2265.      15.5   73  2	"fiat 124 sport coupe"

15.0   8   350.0      145.0      4082.      13.0   73  1	"chevrolet monte carlo s"

16.0   8   400.0      230.0      4278.      9.50   73  1	"pontiac grand prix"

29.0   4   68.00      49.00      1867.      19.5   73  2	"fiat 128"

24.0   4   116.0      75.00      2158.      15.5   73  2	"opel manta"

20.0   4   114.0      91.00      2582.      14.0   73  2	"audi 100ls"

19.0   4   121.0      112.0      2868.      15.5   73  2	"volvo 144ea"

15.0   8   318.0      150.0      3399.      11.0   73  1	"dodge dart custom"

24.0   4   121.0      110.0      2660.      14.0   73  2	"saab 99le"

20.0   6   156.0      122.0      2807.      13.5   73  3	"toyota mark ii"

11.0   8   350.0      180.0      3664.      11.0   73  1	"oldsmobile omega"

20.0   6   198.0      95.00      3102.      16.5   74  1	"plymouth duster"

21.0   6   200.0      ?          2875.      17.0   74  1	"ford maverick"

19.0   6   232.0      100.0      2901.      16.0   74  1	"amc hornet"

15.0   6   250.0      100.0      3336.      17.0   74  1	"chevrolet nova"

31.0   4   79.00      67.00      1950.      19.0   74  3	"datsun b210"

26.0   4   122.0      80.00      2451.      16.5   74  1	"ford pinto"

32.0   4   71.00      65.00      1836.      21.0   74  3	"toyota corolla 1200"

25.0   4   140.0      75.00      2542.      17.0   74  1	"chevrolet vega"

16.0   6   250.0      100.0      3781.      17.0   74  1	"chevrolet chevelle malibu classic"

16.0   6   258.0      110.0      3632.      18.0   74  1	"amc matador"

18.0   6   225.0      105.0      3613.      16.5   74  1	"plymouth satellite sebring"

16.0   8   302.0      140.0      4141.      14.0   74  1	"ford gran torino"

13.0   8   350.0      150.0      4699.      14.5   74  1	"buick century luxus (sw)"

14.0   8   318.0      150.0      4457.      13.5   74  1	"dodge coronet custom (sw)"

14.0   8   302.0      140.0      4638.      16.0   74  1	"ford gran torino (sw)"

14.0   8   304.0      150.0      4257.      15.5   74  1	"amc matador (sw)"

29.0   4   98.00      83.00      2219.      16.5   74  2	"audi fox"

26.0   4   79.00      67.00      1963.      15.5   74  2	"volkswagen dasher"

26.0   4   97.00      78.00      2300.      14.5   74  2	"opel manta"

31.0   4   76.00      52.00      1649.      16.5   74  3	"toyota corona"

32.0   4   83.00      61.00      2003.      19.0   74  3	"datsun 710"

28.0   4   90.00      75.00      2125.      14.5   74  1	"dodge colt"

24.0   4   90.00      75.00      2108.      15.5   74  2	"fiat 128"

26.0   4   116.0      75.00      2246.      14.0   74  2	"fiat 124 tc"

24.0   4   120.0      97.00      2489.      15.0   74  3	"honda civic"

26.0   4   108.0      93.00      2391.      15.5   74  3	"subaru"

31.0   4   79.00      67.00      2000.      16.0   74  2	"fiat x1.9"

19.0   6   225.0      95.00      3264.      16.0   75  1	"plymouth valiant custom"

18.0   6   250.0      105.0      3459.      16.0   75  1	"chevrolet nova"

15.0   6   250.0      72.00      3432.      21.0   75  1	"mercury monarch"

15.0   6   250.0      72.00      3158.      19.5   75  1	"ford maverick"

16.0   8   400.0      170.0      4668.      11.5   75  1	"pontiac catalina"

15.0   8   350.0      145.0      4440.      14.0   75  1	"chevrolet bel air"

16.0   8   318.0      150.0      4498.      14.5   75  1	"plymouth grand fury"

14.0   8   351.0      148.0      4657.      13.5   75  1	"ford ltd"

17.0   6   231.0      110.0      3907.      21.0   75  1	"buick century"

16.0   6   250.0      105.0      3897.      18.5   75  1	"chevroelt chevelle malibu"

15.0   6   258.0      110.0      3730.      19.0   75  1	"amc matador"

18.0   6   225.0      95.00      3785.      19.0   75  1	"plymouth fury"

21.0   6   231.0      110.0      3039.      15.0   75  1	"buick skyhawk"

20.0   8   262.0      110.0      3221.      13.5   75  1	"chevrolet monza 2+2"

13.0   8   302.0      129.0      3169.      12.0   75  1	"ford mustang ii"

29.0   4   97.00      75.00      2171.      16.0   75  3	"toyota corolla"

23.0   4   140.0      83.00      2639.      17.0   75  1	"ford pinto"

20.0   6   232.0      100.0      2914.      16.0   75  1	"amc gremlin"

23.0   4   140.0      78.00      2592.      18.5   75  1	"pontiac astro"

24.0   4   134.0      96.00      2702.      13.5   75  3	"toyota corona"

25.0   4   90.00      71.00      2223.      16.5   75  2	"volkswagen dasher"

24.0   4   119.0      97.00      2545.      17.0   75  3	"datsun 710"

18.0   6   171.0      97.00      2984.      14.5   75  1	"ford pinto"

29.0   4   90.00      70.00      1937.      14.0   75  2	"volkswagen rabbit"

19.0   6   232.0      90.00      3211.      17.0   75  1	"amc pacer"

23.0   4   115.0      95.00      2694.      15.0   75  2	"audi 100ls"

23.0   4   120.0      88.00      2957.      17.0   75  2	"peugeot 504"

22.0   4   121.0      98.00      2945.      14.5   75  2	"volvo 244dl"

25.0   4   121.0      115.0      2671.      13.5   75  2	"saab 99le"

33.0   4   91.00      53.00      1795.      17.5   75  3	"honda civic cvcc"

28.0   4   107.0      86.00      2464.      15.5   76  2	"fiat 131"

25.0   4   116.0      81.00      2220.      16.9   76  2	"opel 1900"

25.0   4   140.0      92.00      2572.      14.9   76  1	"capri ii"

26.0   4   98.00      79.00      2255.      17.7   76  1	"dodge colt"

27.0   4   101.0      83.00      2202.      15.3   76  2	"renault 12tl"

17.5   8   305.0      140.0      4215.      13.0   76  1	"chevrolet chevelle malibu classic"

16.0   8   318.0      150.0      4190.      13.0   76  1	"dodge coronet brougham"

15.5   8   304.0      120.0      3962.      13.9   76  1	"amc matador"

14.5   8   351.0      152.0      4215.      12.8   76  1	"ford gran torino"

22.0   6   225.0      100.0      3233.      15.4   76  1	"plymouth valiant"

22.0   6   250.0      105.0      3353.      14.5   76  1	"chevrolet nova"

24.0   6   200.0      81.00      3012.      17.6   76  1	"ford maverick"

22.5   6   232.0      90.00      3085.      17.6   76  1	"amc hornet"

29.0   4   85.00      52.00      2035.      22.2   76  1	"chevrolet chevette"

24.5   4   98.00      60.00      2164.      22.1   76  1	"chevrolet woody"

29.0   4   90.00      70.00      1937.      14.2   76  2	"vw rabbit"

33.0   4   91.00      53.00      1795.      17.4   76  3	"honda civic"

20.0   6   225.0      100.0      3651.      17.7   76  1	"dodge aspen se"

18.0   6   250.0      78.00      3574.      21.0   76  1	"ford granada ghia"

18.5   6   250.0      110.0      3645.      16.2   76  1	"pontiac ventura sj"

17.5   6   258.0      95.00      3193.      17.8   76  1	"amc pacer d/l"

29.5   4   97.00      71.00      1825.      12.2   76  2	"volkswagen rabbit"

32.0   4   85.00      70.00      1990.      17.0   76  3	"datsun b-210"

28.0   4   97.00      75.00      2155.      16.4   76  3	"toyota corolla"

26.5   4   140.0      72.00      2565.      13.6   76  1	"ford pinto"

20.0   4   130.0      102.0      3150.      15.7   76  2	"volvo 245"

13.0   8   318.0      150.0      3940.      13.2   76  1	"plymouth volare premier v8"

19.0   4   120.0      88.00      3270.      21.9   76  2	"peugeot 504"

19.0   6   156.0      108.0      2930.      15.5   76  3	"toyota mark ii"

16.5   6   168.0      120.0      3820.      16.7   76  2	"mercedes-benz 280s"

16.5   8   350.0      180.0      4380.      12.1   76  1	"cadillac seville"

13.0   8   350.0      145.0      4055.      12.0   76  1	"chevy c10"

13.0   8   302.0      130.0      3870.      15.0   76  1	"ford f108"

13.0   8   318.0      150.0      3755.      14.0   76  1	"dodge d100"

31.5   4   98.00      68.00      2045.      18.5   77  3	"honda accord cvcc"

30.0   4   111.0      80.00      2155.      14.8   77  1	"buick opel isuzu deluxe"

36.0   4   79.00      58.00      1825.      18.6   77  2	"renault 5 gtl"

25.5   4   122.0      96.00      2300.      15.5   77  1	"plymouth arrow gs"

33.5   4   85.00      70.00      1945.      16.8   77  3	"datsun f-10 hatchback"

17.5   8   305.0      145.0      3880.      12.5   77  1	"chevrolet caprice classic"

17.0   8   260.0      110.0      4060.      19.0   77  1	"oldsmobile cutlass supreme"

15.5   8   318.0      145.0      4140.      13.7   77  1	"dodge monaco brougham"

15.0   8   302.0      130.0      4295.      14.9   77  1	"mercury cougar brougham"

17.5   6   250.0      110.0      3520.      16.4   77  1	"chevrolet concours"

20.5   6   231.0      105.0      3425.      16.9   77  1	"buick skylark"

19.0   6   225.0      100.0      3630.      17.7   77  1	"plymouth volare custom"

18.5   6   250.0      98.00      3525.      19.0   77  1	"ford granada"

16.0   8   400.0      180.0      4220.      11.1   77  1	"pontiac grand prix lj"

15.5   8   350.0      170.0      4165.      11.4   77  1	"chevrolet monte carlo landau"

15.5   8   400.0      190.0      4325.      12.2   77  1	"chrysler cordoba"

16.0   8   351.0      149.0      4335.      14.5   77  1	"ford thunderbird"

29.0   4   97.00      78.00      1940.      14.5   77  2	"volkswagen rabbit custom"

24.5   4   151.0      88.00      2740.      16.0   77  1	"pontiac sunbird coupe"

26.0   4   97.00      75.00      2265.      18.2   77  3	"toyota corolla liftback"

25.5   4   140.0      89.00      2755.      15.8   77  1	"ford mustang ii 2+2"

30.5   4   98.00      63.00      2051.      17.0   77  1	"chevrolet chevette"

33.5   4   98.00      83.00      2075.      15.9   77  1	"dodge colt m/m"

30.0   4   97.00      67.00      1985.      16.4   77  3	"subaru dl"

30.5   4   97.00      78.00      2190.      14.1   77  2	"volkswagen dasher"

22.0   6   146.0      97.00      2815.      14.5   77  3	"datsun 810"

21.5   4   121.0      110.0      2600.      12.8   77  2	"bmw 320i"

21.5   3   80.00      110.0      2720.      13.5   77  3	"mazda rx-4"

43.1   4   90.00      48.00      1985.      21.5   78  2	"volkswagen rabbit custom diesel"

36.1   4   98.00      66.00      1800.      14.4   78  1	"ford fiesta"

32.8   4   78.00      52.00      1985.      19.4   78  3	"mazda glc deluxe"

39.4   4   85.00      70.00      2070.      18.6   78  3	"datsun b210 gx"

36.1   4   91.00      60.00      1800.      16.4   78  3	"honda civic cvcc"

19.9   8   260.0      110.0      3365.      15.5   78  1	"oldsmobile cutlass salon brougham"

19.4   8   318.0      140.0      3735.      13.2   78  1	"dodge diplomat"

20.2   8   302.0      139.0      3570.      12.8   78  1	"mercury monarch ghia"

19.2   6   231.0      105.0      3535.      19.2   78  1	"pontiac phoenix lj"

20.5   6   200.0      95.00      3155.      18.2   78  1	"chevrolet malibu"

20.2   6   200.0      85.00      2965.      15.8   78  1	"ford fairmont (auto)"

25.1   4   140.0      88.00      2720.      15.4   78  1	"ford fairmont (man)"

20.5   6   225.0      100.0      3430.      17.2   78  1	"plymouth volare"

19.4   6   232.0      90.00      3210.      17.2   78  1	"amc concord"

20.6   6   231.0      105.0      3380.      15.8   78  1	"buick century special"


### 模块

#### 使用模块


导入一个叫 fibo 的模块时，解释器先在当前目录中搜索名为 fibo.py 的文件。如果没有找到的话，接着会到 sys.path 变量中给出的目录列表中查找。sys.path 变量的初始值来自如下：

+ 输入脚本的目录（当前目录）。

+ 环境变量 PYTHONPATH 表示的目录列表中搜索 (这和 shell 变量 PATH 具有一样的语法，即一系列目录名的列表)。

+ Python 默认安装路径中搜索。

In [15]:
# define fibo module in the file fibo.py

import fibo

In [16]:
help(fibo)

Help on module fibo:

NAME
    fibo

FILE
    /Users/bater.makhabel/WorkSpace/MyStartups/AITrainingSchool/GitBase/Python/Fundamentals/fibo.py

In [17]:
fib(1000)

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [18]:
fib2(100)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

#### 标准模块

#### dir() 函数

+ 内置函数 dir() 用于按模块名搜索模块定义，它返回一个字符串类型的存储列表。
+ 无参数调用时，dir() 函数返回当前定义的命名。
+ 列出所有类型的名称：变量，模块，函数，等等。
+ dir() 不会列出内置函数和变量名。如果你想列出这些内容，它们在标准模块 builtins 中定义。

In [21]:
dir(fibo)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__']

### 列表List

### 元组Tuple

In [22]:
t = ()

In [23]:
t

()

In [24]:
t1 = (1,2,3,4,5)

In [25]:
t1

(1, 2, 3, 4, 5)

In [30]:
t2 = (1,2,3,4,5,[6,7,8,9,10])

In [31]:
t2

(1, 2, 3, 4, 5, [6, 7, 8, 9, 10])

In [32]:
t2[5][1] = 0

In [33]:
t2

(1, 2, 3, 4, 5, [6, 0, 8, 9, 10])

In [34]:
t3 = t1 + t2

In [35]:
t3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, [6, 0, 8, 9, 10])

In [36]:
t4 = t1[1:]

In [37]:
t4

(2, 3, 4, 5)

In [38]:
del t4

In [39]:
t4

NameError: name 't4' is not defined

In [40]:
len(t1),len(t2),len(t3)

(5, 6, 11)

In [41]:
3 in t1

True

### 字典

In [44]:
d1={"da","za","wa"}

In [45]:
d1

{'da', 'wa', 'za'}

In [46]:
curriculum_ds={'ds00100001':'Python编程实战课程','ds00200001':'R编程实战课程','ds00300001':'C编程实战课程'}

In [47]:
curriculum_ds

{'ds00100001': 'Python编程实战课程',
 'ds00200001': 'R编程实战课程',
 'ds00300001': 'C编程实战课程'}

In [48]:
curriculum_ds['ds00400001']='C++编程实战课程'

In [49]:
curriculum_ds

{'ds00100001': 'Python编程实战课程',
 'ds00200001': 'R编程实战课程',
 'ds00300001': 'C编程实战课程',
 'ds00400001': 'C++编程实战课程'}

#### 创建字典

In [50]:
info = {}

In [51]:
info = dict()

#### 初始化字典

In [52]:
info = {"name" : 'cold'}

In [53]:
info = dict(name = 'cold')

In [54]:
key = 'name'

In [55]:
info = { key :'cold'}

In [56]:
info = dict(key = 'cold')

In [57]:
info = {}.fromkeys(['name', 'blog'])

In [58]:
info

{'blog': None, 'name': None}

In [59]:
info = dict().fromkeys(['name', 'blog'])

In [60]:
info

{'blog': None, 'name': None}

In [61]:
info = dict().fromkeys(['name', 'blog'], 'linuxzen.com')

In [62]:
info

{'blog': 'linuxzen.com', 'name': 'linuxzen.com'}

#### 获取键值

In [63]:
info = {'name':'cold', 'blog':'linuxzen.com'}

In [64]:
info['name']

'cold'

In [65]:
info = dict(name= 'cold', blog='www.linuxzen.com')

In [66]:
info.get('name')

'cold'

In [68]:
info.get('blogname')

In [69]:
info.get('blogname', 'linuxzen')

'linuxzen'

#### 更新/添加

In [70]:
info = dict()

In [71]:
info['name'] = 'cold'

In [72]:
info['blog'] = 'linuxzen.com'

In [73]:
info

{'blog': 'linuxzen.com', 'name': 'cold'}

In [74]:
info = dict(name='cold', blog='linuxzen.com')

In [75]:
info

{'blog': 'linuxzen.com', 'name': 'cold'}

In [76]:
info.update({'name':'cold night', 'blogname':'linuxzen'})

In [77]:
info

{'blog': 'linuxzen.com', 'blogname': 'linuxzen', 'name': 'cold night'}

In [78]:
info.update(name='cold', blog='www.linuxzen.com')

In [79]:
info

{'blog': 'www.linuxzen.com', 'blogname': 'linuxzen', 'name': 'cold'}

#### 删除

In [80]:
info = dict(name='cold', blog='linuxzen.com')

In [81]:
info

{'blog': 'linuxzen.com', 'name': 'cold'}

In [82]:
del info['name']

In [86]:
info.pop('blog')

'linuxzen.com'

#### 获取所有key

In [87]:
info = dict(name='cold', blog='linuxzen.com')

In [88]:
info

{'blog': 'linuxzen.com', 'name': 'cold'}

In [89]:
info.keys()

dict_keys(['name', 'blog'])

In [91]:
for key, value in info.items():
    print (key, ':',  value)

name : cold
blog : linuxzen.com

### 迭代器（iterator）

In [93]:
class Iterable_:  
   def __iter__(self):  
       return iter([1, 2, 3])   
it = iter((Iterable_()))  
for i in it:   
    print ("iterable:" + str(i))

iterable:1
iterable:2
iterable:3

In [96]:
class Iterator_:  
   def __init__(self, s, e):   
       self.current = s   
       self.end = e   
   def __iter__(self):  
       return self  
   def __next__(self):  
       if self.current < self.end:  
           self.index = self.current  
           self.current += 1  
           return self.index  
       else:  
           raise StopIteration  

#print again  
it = Iterator_(5, 8)  
for i in it:   
    print ("second iterator:" + str(i) )

second iterator:5
second iterator:6
second iterator:7

### 生成器(generator)

In [98]:

#first way   
my_generator = (x for x in range(3))  
for i in my_generator:  
    print (i)
#second way  
def Generator_(l):  
   n = 0   
   size = len(l)  
   while n < size:  
       yield l[n]     
       n += 1  
  
ge = Generator_([1, 2, 3])   
for g in ge:   
    print ("generator:" + str(g))

0
1
2
generator:1
generator:2
generator:3

### 变量作用域

In [101]:
x = int(2.9)  # 内建作用域
 
g_count = 0  # 全局作用域
def outer():
    o_count = 1  # 闭包函数外的函数中
    def inner():
        i_count = 2  # 局部作用域

In [103]:
total = 0; # 全局变量

def sum( arg1, arg2 ):
    #返回2个参数的和."
    total = arg1 + arg2; # 局部变量.
    print ("函数内是局部变量 : ", total)
    return total;

#调用sum函数
sum( 10, 20 );
print ("函数外是全局变量 : ", total)

函数内是局部变量 :  30
函数外是全局变量 :  0

In [104]:
# 当内部作用域想修改外部作用域的变量时，就要用到global和nonlocal关键字
num = 1
def fun1():
    global num  # 需要使用 global 关键字声明
    print(num) 
    num = 123
    print(num)
fun1()

1
123

In [106]:
# 如果要修改嵌套作用域（enclosing 作用域，外层非全局作用域）中的变量则需要 nonlocal 关键字
def outer():
    num = 10
    def inner():
        nonlocal num   # nonlocal关键字声明
        num = 100
        print(num)
    inner()
    print(num)
outer()

100
100

### 日期和时间

In [108]:
import time;  # 引入time模块

ticks = time.time()
print("当前时间戳为:", ticks)

当前时间戳为: 1522552783.881512

#### 获取当前时间

In [109]:
localtime = time.localtime(time.time())
print ("本地时间为 :", localtime)

本地时间为 : time.struct_time(tm_year=2018, tm_mon=4, tm_mday=1, tm_hour=11, tm_min=20, tm_sec=24, tm_wday=6, tm_yday=91, tm_isdst=0)

#### 获取格式化的时间

In [110]:
ocaltime = time.asctime( time.localtime(time.time()) )

#### 格式化日期

In [111]:
print( time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()) )

2018-04-01 11:21:42

In [112]:
print( time.strftime("%a %b %d %H:%M:%S %Y", time.localtime()) )

Sun Apr 01 11:21:52 2018

In [114]:
a = "Sun Apr 01 11:22:22 2018"
print (time.mktime(time.strptime(a,"%a %b %d %H:%M:%S %Y")))

1522552942.0

#### python中时间日期格式化符号：

+ %y 两位数的年份表示（00-99）
+ %Y 四位数的年份表示（000-9999）
+ %m 月份（01-12）
+ %d 月内中的一天（0-31）
+ %H 24小时制小时数（0-23）
+ %I 12小时制小时数（01-12）
+ %M 分钟数（00=59）
+ %S 秒（00-59）
+ %a 本地简化星期名称
+ %A 本地完整星期名称
+ %b 本地简化的月份名称
+ %B 本地完整的月份名称
+ %c 本地相应的日期表示和时间表示
+ %j 年内的一天（001-366）
+ %p 本地A.M.或P.M.的等价符
+ %U 一年中的星期数（00-53）星期天为星期的开始
+ %w 星期（0-6），星期天为星期的开始
+ %W 一年中的星期数（00-53）星期一为星期的开始
+ %x 本地相应的日期表示
+ %X 本地相应的时间表示
+ %Z 当前时区的名称
+ %% %号本身

#### 获取某月日历

In [117]:
import calendar
cal = calendar.month(2018, 4)
print ("以下输出2018年4月份的日历:")
print (cal)

以下输出2018年4月份的日历:
     April 2018
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

#### Time 模块

#### Datetime 模块

In [119]:
import datetime
i = datetime.datetime.now()
print ("当前的日期和时间是 %s" % i)
print ("ISO格式的日期和时间是 %s" % i.isoformat() )
print ("当前的年份是 %s" %i.year)
print ("当前的月份是 %s" %i.month)
print ("当前的日期是  %s" %i.day)
print ("dd/mm/yyyy 格式是  %s/%s/%s" % (i.day, i.month, i.year) )
print ("当前小时是 %s" %i.hour)
print ("当前分钟是 %s" %i.minute)
print ("当前秒是  %s" %i.second)

当前的日期和时间是 2018-04-01 11:26:10.832993
ISO格式的日期和时间是 2018-04-01T11:26:10.832993
当前的年份是 2018
当前的月份是 4
当前的日期是  1
dd/mm/yyyy 格式是  1/4/2018
当前小时是 11
当前分钟是 26
当前秒是  10